<div class="row marketing">
  <h2 class="centered">Available Bets</h2>
  <br />

  <div cg-busy="loadingPromise"></div>
  <div class="alert alert-danger" ng-show="noConnection">
    <strong>Error!</strong> Unable to connect to the Bede market. Please check your internet connection.
  </div>
  <div class="alert alert-danger" ng-show="noBetsFound">
    No bets were found on the Bede market. Please try again later.
  </div>
  <div >

  </div>
  <div ng-show="availableEvents.length">
    <div class="left-align" style="width: 200px;">
      <table class="selectable table table-condensed table-hover" ng-show="selectedEvent && selectedEvent.bets">
        <tbody>
        <tr class="selectableRow normalText" ng-repeat="item in availableEvents | orderBy: 'event'" ng-click="eventClicked(item)" ng-class="{selected: item === selectedEvent}">
          <td>
            {{item.event}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="market-table right-align">
      <table class="selectable table table-striped table-condensed table-hover" ng-show="selectedEvent && selectedEvent.bets">
        <thead>
          <tr class="normalText headingText">
            <th>Name</th>
            <th>Odds</th>
          </tr>
        </thead>
        <tbody>
          <tr class="selectableRow normalText" ng-repeat="item in selectedEvent.bets | orderBy:sortingOrder:reverse" ng-click="addBet(item)">
            <td>
              {{item.name}}
            </td>
            <td>
              {{displayOdds(item)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
